<div class="container">
  <div class="courses-grid">
    @for (course of courses; track course.teacherId) {
      <mat-card class="course-card" appDCourse>
        <mat-card-header>
          <mat-card-title>{{ course.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ course.description }}</p>
        </mat-card-content>
        <div class="button-container">
          <button [routerLink]="['/home', course.id]" routerLinkActive="button-active" class="custom-button">
            צפה בקורס
          </button>
          <!-- @if(isteacher){ -->
          <button class="icon-button" (click)="editCourse(course)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="icon-button" (click)="deleteCourse(course.id)">
            <mat-icon>delete</mat-icon>
          </button>
        <!-- } -->
        </div>
      
      </mat-card>
    }
  </div>
  <router-outlet></router-outlet>
</div>


