<div class="container">
  <div class="courses-grid">
    @for (course of courses; track course.teacherId)
    {
    <mat-card class="course-card" appDCourse>
      <mat-card-header>
        <mat-card-title>{{ course.title }}</mat-card-title>
        @if(role=='student')
        {
        <div class="top-right-buttons">
          @if(!isEnoled(course.id))
          {
          <button class="icon-button" (click)="enroll(course.id)">
            <mat-icon>person_add</mat-icon><span class="button-text-small">Enroll</span> 
          </button>
          } @else{
          <button class="icon-button" (click)="unenroll(course.id)">
            <mat-icon>exit_to_app</mat-icon> <span class="button-text-small">Unenroll</span>
          </button>
          }
        </div>
        }
      </mat-card-header>

      <mat-card-content>
        <p>{{ course.description }}</p>
      </mat-card-content>

      <div class="button-container">
        <button [routerLink]="['/home', course.id]" routerLinkActive="button-active" class="custom-button">
          צפה בקורס
        </button>
        @if(role=='teacher') {
        <button class="icon-button" (click)="editCourse(course)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="icon-button" (click)="deleteCourse(course.id)">
          <mat-icon>delete</mat-icon>
        </button>
        }
      </div>
    </mat-card>
    }
  </div>
</div>