.button-container {
    background-image: url('../../pictures/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  .button-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .button-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    opacity: 0.8;
  }
  h1{
    color: black;
  }
  p{
    color: black;
  }
  .button-container button {
    margin: 10px;
    width: 200px;
    background-color: black; /* צבע רקע שחור */
    color: white; /* צבע טקסט לבן */
    border: 2px solid white; /* מסגרת לבנה */
    border-radius: 4px; /* פינות מעוגלות */
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* צבע כפתור כשיש עליו Hover */
  .button-container button:hover {
    background-color: #333; /* גוון אפור כהה */
    border-color: #ccc; /* מסגרת בהירה יותר */
  }