<h1 mat-dialog-title>Edit Course</h1>

<div mat-dialog-content>
  <form [formGroup]="editCourseForm" (ngSubmit)="onSubmit()" class="edit-course-form">
    
    <!-- Title Field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
      @if(editCourseForm.get('title')?.hasError('required')){
      <mat-error >
        Title is required.
      </mat-error>
    }
    </mat-form-field>

    <!-- Description Field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" required>
      <!-- @if(editCourseForm.get('description')?.hasError('required')){
      <mat-error">
        Description is required.
      </mat-error>
    } -->
    </mat-form-field>
    
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="editCourseForm.invalid">Submit</button>
</div>