.edit-course-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  mat-form-field.full-width {
    width: 100%;
  }
  
  mat-dialog-content {
    padding: 20px;
    min-width: 300px; /* אפשר לשנות לפי הצורך */
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  
  button[mat-button] {
    min-width: 100px;
  }